<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择了海洋模板</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/selectOcean.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
</head>
<body>
    <div class="letter-box">
        <div class="letter-border">
            <div ><p class="font-container">海洋里生活着一群快乐无忧的小动物，有色彩艳丽的小鱼群，有爱发呆的小海豚们，
                还有摇摇摆摆横着走路的小螃蟹。当然，鲜为人知的是，在海洋的最深处，
                有一座富丽堂皇的宫殿，住着人鱼一族。我们这次的故事，就将在这里展开··· ···
                <br><br><br><br></p></div>
            <a href="/user/startTalking?place=ocean" class="button-jump"><button type="button" class="btn btn-success">开始讲故事吧~~</button></a>

        </div>

    </div>

<audio src="/video/ocean.wav" autoplay="autoplay"></audio>
</body>
</html>