<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择了城堡模板</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/selectOcean.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
</head>
<body>
<div class="letter-box">
    <div class="letter-border">
        <div ><p class="font-container">在很久很久以前，某个遥远的地方有一座精致的城堡，在天气好的时候，阳光照在城堡上，
            闪烁的光芒，好像整座城堡是黄金打造的一般。如果你询问城堡附近的居民，
            他一定会挺起胸膛向你保证：“上帝都知道，我们的城堡是世界上最美的的城堡呦。”
            那么在这座城堡里，会发生什么样的故事呢？
            <br><br><br><br></p></div>
        <a href="/user/startTalking?place=house&page=page1" class="button-jump"><button type="button" class="btn btn-success">开始讲故事吧~~</button></a>

    </div>

</div>

<audio src="/video/ocean.wav" autoplay="autoplay"></audio>
</body>
</html>