<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择了森林模板</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/selectOcean.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
</head>
<body>
<div class="letter-box">
    <div class="letter-border">
        <div ><p class="font-container">森林是一个神奇的地方，既有善良的精灵也有邪恶的女巫
            ，可爱的小动物和茂盛的植物共生共存，谱写出一幅神秘的生命画卷。这一次，故事将在这里开始··· ···
            <br><br><br><br></p></div>
        <a href="/user/startTalking?place=tree&page=page1" class="button-jump"><button type="button" class="btn btn-success">开始讲故事吧~~</button></a>

    </div>

</div>

<audio src="/video/tree.wav" autoplay="autoplay"></audio>
</body>
</html>