<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/startTalking.css"/>

    <script src="/js/qiniu.min.js"></script>
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/index1.js"></script>
</head>
<body>
<div class="talking">
<!--    <input type="file" onchange="playMusic.call(this)" class="select-file">-->
    <div class="talkingButton">
        <audio class="audio-node" autoplay></audio>
        <button id="start-button" class="btn btn-lg btn-primary" onclick="record()">开始录音</button>
        <button id="end-button" class="btn btn-lg btn-primary" disabled="disabled" onclick="stopRecord()">停止录音</button>
    </div>
    <div class="nextStep">
        <button class="btn btn-lg btn-primary" onclick="finishCreate()">故事完成</button>
        <button class="btn btn-lg btn-primary" onclick="finishCreate()">继续讲述</button>
    </div>
</div>
<div id="result-container" class="word">
    <div id="word-container"></div>
    <div id="image-container" class="image"></div>
</div>
<!--    <a href="start.html">拍照</a>-->


</body>

</html>